@import "tailwindcss";

@layer components {
    .sidebar {
        @apply
            sticky
            top-0
            h-screen
            hidden
            lg:flex
            lg:flex-none
            lg:overflow-y-auto
            lg:w-64
            xl:w-80 min-h-screen left-0
            bg-zinc-900
            text-zinc-100
            border-0
            m-0
            flex-col;
    }

    .sidebar-header {
        @apply p-6 text-xl font-bold tracking-tight flex justify-center;
    }

    .sidebar-header {
        @apply text-xl
    }

    .sidebar-nav {
        @apply flex flex-col flex-grow px-4 space-y-1;
    }

    .sidebar-button {
        @apply text-zinc-300 hover:text-white bg-linear-to-r hover:bg-zinc-800 hover:from-zinc-600 hover:to-zinc-800 transition-colors;
    }

    .sidebar-icon-small {
        @apply block h-5 w-5 shrink-0
    }

    .sidebar-content {
        @apply m-auto h-full text-sm
    }

    .sidebar-content p {
        @apply mb-1
    }

    .sidebar-footer {
        @apply border-2 border-t border-zinc-900 text-xs text-zinc-500 m-auto font-semibold;
    }

    @keyframes grow-center {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    .animate-grow-center {
        animation: grow-center 0.5s ease-out forwards;
    }

    .sidebar-hr {
        @apply border-t border-zinc-800
    }

    .sidebar .skill {
        @apply bg-zinc-600 rounded-md p-1 font-medium
    }

    .sidebar .skill:hover {
        @apply bg-zinc-400
    }
}
