@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1920px
}

html,
body {
  @apply bg-zinc-900; /* qucik dirty fix to make BG also zinc 900 when "overscrolling" on mobile, cuz the white looks jarring... */
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

small {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}
